{{/* html code for section 5 @Homepage goes here */}}

<section id="home-sec-5">
  <div class="Shimmy_sza_container">

  <div id="Section5Shimmy" class="Shimmy_sza">
  </div> </div>

  <h1 class="husig_h2_tag" id="">
    For Us, Confidentiality and Data Privacy Are Paramount to the Success and
    Trust of Your Organization
  </h1>
  <div id="sec5-content-grid">
    <div id="top-grid">
      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/anonimity.webp"
          alt="anonimity"
        />
        <h3 class="clash_h3">Project Anonymity</h3>
        <h4 class="husig_h3_tag">
          We respect the privacy of our clients and offer the option to use code
          words or pseudonyms for projects, ensuring anonymity and
          confidentiality.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/clientConfidentiality.webp"
          alt="clientConfidentiality"
        />
        <h3 class="clash_h3">Client Confidentiality</h3>
        <h4 class="husig_h3_tag">
          We understand the sensitivity of client information and take measures
          to protect their identity and project details, providing an extra
          layer of confidentiality and security.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/dataObfuscation.webp"
          alt="dataObfuscation"
        />
        <h3 class="clash_h3">Data Obfuscation</h3>
        <h4 class="husig_h3_tag">
          We employ advanced obfuscation techniques to anonymize and protect
          sensitive data, ensuring that it remains secure and unintelligible to
          unauthorized parties.
        </h4>
      </div>
    </div>

    <div id="bottom-grid">
      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/isolatedEnvironments.webp"
          alt="isolatedEnvironments"
        />
        <h3 class="clash_h3">Isolated Environments</h3>
        <h4 class="husig_h3_tag">
          For projects requiring the highest level of confidentiality, we offer
          clean room environments where data processing and analysis are
          conducted in isolated, secure facilities. Access to clean rooms is
          strictly controlled, with limited entry and comprehensive security
          measures in place to prevent data leakage and unauthorized access.
        </h4>
      </div>

      <div class="sec_5_content">
        <img
          class="grid_content_images"
          src="images/homepage/featureGrid/dataDisposal.webp"
          alt="dataDisposal"
          
        />
        <h3 class="clash_h3">Data Disposal</h3>
        <h4 class="husig_h3_tag">
          We adhere to strict protocols for data disposal and destruction,
          ensuring that all sensitive information is securely erased or
          destroyed at the end of a project or engagement.
        </h4>
      </div>
    </div>
  </div>
</section>
