<section id="home-testimonials-section">

  <div class="Shimmy_sza_container">

  <div id="Section6Shimmy" class="Shimmy_sza">
  </div></div>

  <div id="what-our-clients-say">
    <h2 class="husig_h2_tag">What Our Clients Say</h2>
  </div>

  <div id="slider-container">
    <div id="testimonials-slider" class="scrollable-container">
      <div class="testi_row" id="testi-top-row">
        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>
      </div>

      <div class="testi_row" id="testi-bottom-row">
        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

        <div class="testimonial_card">
          <div class="title_div">
            <img
              src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
              width="67px"
              height="67px"
              alt="client image"
              class="card_image"
            />

            <div class="title_text">
              <h3 class="name">Client Name</h3>
              <h4 class="info">Founder, Acme Inc.</h4>
            </div>
          </div>

          <p class="description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.”
          </p>
        </div>

      
      </div>
    </div>
  </div>
</section>
