.Shimmy_sza_container {
  position: unset;
  overflow: hidden;
}

@media (max-width: 480px) {
  div.dropdown-mobile_123 {
    display: block !important;
  }
  body,
  body * {
    overflow-x: hidden !important;
  }
  section.hero_section {
    margin: 0 !important;
    padding: 0px 6.106870229vw !important;
    flex-direction: column !important;
    justify-content: center !important;
    gap: 41px !important;
  }
  .hero_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero_text .raw_data_span {
    line-height: 40px !important;
    display: inline-flex;
  }
  .hero_text h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .hero_text .hero_desc {
    font-size: 16px !important;
    line-height: 21.6px !important;
  }
  .hero_text p {
    margin: 24px 0px !important;
  }
  .hero_text #hero-logobutton {
    align-self: center;
  }
  .hero_text #hero-logo-button {
    padding: 0;
    margin-top: 24px !important;
    max-width: 270.52px;
    font-size: 16.21px;
    align-self: center;
    height: 46px;
  }
  .hero_text #hero-logo-button img {
    max-width: 18px;
  }
  .hero_text .logo_button {
    align-items: center;
    justify-content: center;
  }
  div.clients {
    overflow-x: auto !important;
    margin-top: 25px !important;
    font-size: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  div.clients .clients_row {
    overflow-x: hidden !important;
    gap: 8.2697201018vw !important;
  }

  div.clients div.clients_row .clients_row_images {
    max-height: 31px;
    width: auto;
    object-fit: contain;
  }

  div.clients h3 {
    margin: 0 !important;
    margin-bottom: 25px !important;
  }
  div#trusted-by-top-companies {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  div#trusted-by-top-companies h3 {
    font-family: "Clash Display";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.6px;
    /* white */
    color: #ffffff;
    opacity: 0.2;
  }
  div.clients::-webkit-scrollbar {
    display: none;
  }
  div.clients {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* section2 */
  section#homepage-section-2 {
    padding: 0px 6.106870229vw !important;
    padding-top: 137px !important;
  }
  .husig_h2_tag {
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Clash Display" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 36px !important;
    color: #ffffff !important;
    text-align: left !important;
  }
  #nulla {
    display: none;
  }
  #sec2-buttons {
    display: flex;
    justify-content: space-around;
  }
  .dropdown-mobile_123 {
    display: none;
    position: relative;
  }
  .dropdown-toggle_123 {
    background-color: rgb(173, 90, 204);
    color: rgb(16, 7, 28);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "General Sans";
    font-weight: 600;
    line-height: 21.6px;
    width: 100%;
    border-radius: 4px;
  }
  .dropdown-menu_123 {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
    left: 0;
    flex-direction: column;
  }
  .dropdown-menu_123 button {
    background: none;
    color: white;
    padding: 10px;
    border: none;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
  .dropdown-menu_123 button:hover {
    background-color: #555;
  }
  /* Media query for mobile view */
}
@media (max-width: 480px) and (max-width: 480px) {
  #sec2-buttons {
    display: none;
  }
  .dropdown-mobile_123 {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    min-width: 85vw;
    overflow-y: visible !important;
    z-index: 1000;
  }
  .dropdown-mobile_123 #dropdownMenu_123 {
    z-index: 1000 !important;
  }
}
@media (max-width: 480px) {
  #homepage-tabs-1221 {
    margin-top: 48px;
  }
  .tab-content {
    gap: 20px !important;
    flex-direction: column !important;
  }
  .tab-content .right {
    min-width: 100%;
  }
  .tab-content .right .purple_h2 {
    font-size: 24px;
  }
  .tab-content .right .icon-list li {
    font-size: 16px !important;
    line-height: 21.6px;
  }
  .tab-content .right .icon-list .list_icon_image {
    max-width: 16px;
    min-width: 16px;
  }
  .tab-content .right .learn_more_cta {
    width: 100%;
    height: 54px;
    font-size: 16px;
    line-height: 21.6px;
  }
  .tab-content .left {
    min-width: 100%;
    height: auto !important;
  }
  .tab-content .sec2_illust {
    min-width: 86.5vw;
    min-height: auto;
    object-fit: contain;
  }
  .logobutton .hero-logo-button {
    margin-top: 74px;
    width: 270.52px;
    height: 46px;
    font-size: 16.21px;
    line-height: 21.88px;
  }
  .logobutton img.logo {
    width: 14px;
  }
  section#home-sec-3 {
    margin-top: 158px;
    padding: 0px 6.106870229vw;
    max-width: 100%;
  }
  section#home-sec-3 .section_3_companies {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  section#home-sec-3 .clients_row {
    display: none !important;
  }
  section#home-sec-3 img#mbl-teks-213 {
    margin-top: 36px;
    display: block !important;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
  }
  section#home-sec-4 {
    margin-top: 144px;
    padding: 0px 6.106870229vw;
  }
  section#home-sec-4 .sec_4_article {
    gap: 68.15px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  section#home-sec-4 .sec_4_article img#project-based {
    width: 100%;
  }
  section#home-sec-4 .sec_4_article .sec_4_texts {
    min-width: 100%;
  }
  section#home-sec-4 ul.sec-4 li {
    font-size: 20px;
    line-height: 27px;
    align-items: center !important;
  }
  section#home-sec-4 ul.sec-4 .list_icon_image {
    max-width: 16px;
    min-width: 16px;
  }
  section#home-sec-4 article.homepage_article {
    gap: 144px;
  }
  section#home-sec-4 .sec_4_para {
    font-size: 16px !important;
  }
  section#home-sec-4 div#staff-aug-div {
    flex-direction: column;
    gap: 68.15px;
  }
  section#home-sec-4 #h1-a-1 {
    margin-bottom: 30px !important;
  }
  section#home-sec-5 {
    margin-top: 207px !important;
    padding: 0px 6.106870229vw !important;
  }
  section#home-sec-5 div#sec5-content-grid {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  section#home-sec-5 div#sec5-content-grid div#top-grid {
    flex-direction: column;
    width: 100% !important;
  }
  section#home-sec-5 div#sec5-content-grid div#bottom-grid {
    flex-direction: column;
    width: 100% !important;
  }
  section#home-sec-5 div#sec5-content-grid div.sec_5_content {
    width: 100% !important;
  }
  section#home-sec-5 div#sec5-content-grid img.grid_content_images {
    width: 100% !important;
    height: auto;
    object-fit: cover;
  }
  section#home-sec-5 div#sec5-content-grid h3.clash_h3 {
    font-size: 20px;
    line-height: 24.6px;
  }
  section#home-sec-5 div#sec5-content-grid h4.husig_h3_tag {
    font-size: 16px;
    line-height: 21.3px;
  }
  section#home-testimonials-section {
    margin-top: 138px;
  }
  section#home-testimonials-section #what-our-clients-say {
    margin-bottom: 53px !important;
  }
  section#home-testimonials-section div.testimonial_card {
    width: 494px;
    height: auto;
  }
  section#home-testimonials-section div#testimonials-slider {
    gap: 28.83px;
  }

  section#home-testimonials-section #slider-container {
    overflow-x: auto !important;
  }

  section#home-testimonials-section #testimonials-slider div.testimonial_card {
    padding: 28.8px;
    margin: 0;
    padding-top: 32.41px;
  }

  section#home-testimonials-section div.testimonial_card img.card_image {
    width: 48.25px;
    height: auto;
  }

  section#home-testimonials-section div.testimonial_card p.description {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    /* white */
    color: #ffffff;

    margin-top: 14.4px !important;
  }

  /* faq section mobile responsive */

  div#faq-title {
    margin: 0;
    padding: 0;
    margin-top: 137px;
    padding-left: calc((24 / 393) * 100vw);
    padding-right: calc((24 / 393) * 100vw);
    margin-bottom: 45px;
  }

  section#faq-accordion {
    padding: 0;
    margin: 0;
    padding-left: calc((24 / 393) * 100vw);
    padding-right: calc((24 / 393) * 100vw);
  }

  section#faq-accordion div.faq-cat {
    width: 184px;
    height: 50px;
    border-radius: 0px;

    font-size: 16px;
    line-height: 21.6px;
    font-weight: 600;
  }

  section#faq-accordion button.accordion-header {
    overflow-y: hidden;

    font-size: 16px;
    line-height: 19.2px;

    padding: 24px 32px 24px 32px;
  }

  section#faq-accordion img.open_close {
    min-width: 32px;
    min-height: 32px;
  }
  section#faq-accordion div.accordion-content {


    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;

  }

  section#faq-accordion {
    padding-bottom: 64px;
  }


  footer {
    margin-top: 0 !important;
  }

}
