/* book a call CTA Styles */
#book-a-call {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  width: 287px;
  height: 80px;
  background: linear-gradient(270deg, #ad5acc 0%, #512b81 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

.husig_cta {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 287px;
  height: 80px;
  background: linear-gradient(270deg, #ad5acc 0%, #512b81 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

#hero-logo-button {
  margin-top: 56px;
  height: 70px;
  width: 483px;
  position: relative;
  z-index: 10;
}

.logobutton {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.hero-logo-button {
  margin: unset;
  margin-top: 139px;
  height: 70px;
  width: 483px;
  position: relative;
  z-index: 10;
  display: flex;
  align-self: center;
}

.Shimmy_sza_container{
  position: unset !important;
}
/* background shimmy */
.Shimmy_sza {
  display: block;
  position: absolute !important;
  width: 139.1666666667vw;
  height: 326.61px;
  background: #ad5acc;
  opacity: 0.2;
  filter: blur(210px);
  transform: rotate(-15deg);
  right: -19.5833333333vw;
}

#heroSectionShimmy {
  top: 20.8333333333vw;
}

#Section2Shimmy {
  top: 800px;
}

#Section4Shimmy {
  top: 0;
  position: relative;
  opacity: 15%;
  left: 0;
}

#Section5Shimmy {
  position: relative;
  top: -100px;
  opacity: 0.15;
}

#Section6Shimmy {
  top: 256px;
  opacity: 0.2;
}

#Section7Shimmy {
  top: 300px;
  opacity: 0.1;
}

/* homepage companies ROW */
div.section_3_companies {
  display: flex;
  flex-direction: column;
}
div.section_3_companies * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.section_3_companies #row-1-techs {
  min-width: 63.1770833333vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.section_3_companies #row-2-techs {
  width: 54.21875vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
div.section_3_companies #row-3-techs {
  min-width: 63.1770833333vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* end */
div#trusted-by-top-companies {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
}
div#trusted-by-top-companies h3 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* white */
  color: #ffffff;
  opacity: 0.2;
}

div.dropdown-mobile_123 {
  display: none;
}

/* Mobile menu css starts here */

section#my-mobile-menu {
  display: none;
  position: fixed;
  overflow: visible;
  z-index: 1000;

  top: 27px;
  right: 0;
}

@media (max-width: 1256px) {

  #myLinks-mm button.husig_cta{
    height: 59px;
    margin-top: 48px;
    font-size: 20px;
    line-height: 27px;
  }


  * {
    overflow-x: hidden !important;
  }

  section#my-mobile-menu {
    display: block;
    overflow-y: auto !important;
  }

  section#my-mobile-menu .topnav_mm {
    overflow: visible;
    background-color: hsla(265, 62%, 7%, 0);
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  section#my-mobile-menu .topnav_mm #myLinks-mm {
    display: none;
    width: 100vw;
    background-color: hsla(265, 62%, 7%, 1);
    height: 100vh;
    padding: 27px;
    padding-top: 0;
  }

  section#my-mobile-menu .topnav_mm #myLinks-mm h2 {
    padding: 0;
    margin: 0;
    /* Company */

    font-family: "General Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height */

    color: #ffffff;

    margin-bottom: 8px;
    margin-top: 32px;
  }

  section#my-mobile-menu .topnav_mm #myLinks-mm a {
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;

    padding: 0;
    margin: 0;

    margin-bottom: 12px;
  }

  /* Style navigation menu links */
  section#my-mobile-menu .topnav_mm a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  section#my-mobile-menu .topnav_mm a.icon_mm {
    background: transparent;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;

    margin-right: 23px;
  }

  /* Add a grey background color on mouse-over */
  section#my-mobile-menu .topnav_mm a:hover {
    background-color: hsla(265, 62%, 7%, 0);
    color: none;
  }

  /* Style the active link (or home/logo) */
  .active_mm {
    background-color: hsla(265, 62%, 7%, 0);
    color: hsla(265, 62%, 7%, 0);
  }

  section#my-mobile-menu #mm_text_logo {
    background: transparent;

    color: transparent;
  }

  /* css for services tab en mobiel */
}

@media (max-width: 1256px) {

  button.myDropdonw_items {
    all: unset;
  }

  #myDropdown-mm-a {
    width: 100%;
    margin-top: 46px;
  }

  .dropdown_mm_a {
    display: flex !important;
    position: relative;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 1500;
    height: 400px;
  }

  .dropbtn_mm_a {
    background-color: hsla(284, 53%, 58%, 1);
    color: hsla(265, 62%, 7%, 1);
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* dropdown button fonts */

    font-family: "General Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;

    border-radius: 4px;

    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 165px;
    padding: 12px 32px;
    max-height: 46px;
  }

  .dropbtn_mm_a:hover,
  .dropbtn_mm_a:focus {
    background-color: hsla(284, 53%, 58%, 1);
  }

  .dropdown_mm_a {
    display: inline-block;
  }

  .dropdown-content_mm_a {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    background-color: hsla(265, 62%, 7%, 1);
  }

  .dropdown-content_mm_a a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
  }

  .show_mm_a {
    display: flex;
    flex-direction: column;
  }
}
.dropdown_mm_a {
  display: none;
}
