/* book a call CTA Styles */
#book-a-call {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  width: 287px;
  height: 80px;
  background: linear-gradient(270deg, #ad5acc 0%, #512b81 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

.husig_cta {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 287px;
  height: 80px;
  background: linear-gradient(270deg, #ad5acc 0%, #512b81 100%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

#hero-logo-button {
  margin-top: 56px;
  height: 70px;
  width: 483px;
  position: relative;
  z-index: 10;
}

.logobutton {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.hero-logo-button {
  margin: unset;
  margin-top: 139px;
  height: 70px;
  width: 483px;
  position: relative;
  z-index: 10;
  display: flex;
  align-self: center;
}

/* background shimmy */
.Shimmy_sza {
  display: block;
  position: absolute !important;
  width: 139.1666666667vw;
  height: 326.61px;
  background: #ad5acc;
  opacity: 0.2;
  filter: blur(210px);
  transform: rotate(-15deg);
  right: -19.5833333333vw;
}

#heroSectionShimmy {
  top: 20.8333333333vw;
}

#Section2Shimmy {
  top: 800px;
}

#Section4Shimmy {
  top: 0px;
  position: absolute;
  opacity: 0.15;
}

#Section5Shimmy {
  top: -100px;
  opacity: 0.15;
}

#Section6Shimmy {
  top: 256px;
  opacity: 0.2;
}

#Section7Shimmy {
  top: 300px;
  opacity: 0.1;
}

/* homepage companies ROW */
div.section_3_companies {
  display: flex;
  flex-direction: column;
}
div.section_3_companies * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.section_3_companies #row-1-techs {
  min-width: 63.1770833333vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.section_3_companies #row-2-techs {
  width: 54.21875vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
div.section_3_companies #row-3-techs {
  min-width: 63.1770833333vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* end */
div#trusted-by-top-companies {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
}
div#trusted-by-top-companies h3 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* white */
  color: #ffffff;
  opacity: 0.2;
}

div.dropdown-mobile_123 {
  display: none;
}

/* Mobile menu css starts here */

section#my-mobile-menu  {
  display: none;
  position: fixed;
  overflow: visible;
  z-index: 1000;

  top: 27px;
  right: 0;
}



@media(max-width: 1256px){

  * {
    overflow-x: hidden !important;
  }

  


  section#my-mobile-menu{
    display: block;
  }

  section#my-mobile-menu .topnav_mm {
    overflow: visible;
    background-color: hsla(265, 62%, 7%, 0);
    position: relative;


  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  section#my-mobile-menu .topnav_mm #myLinks-mm {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color:  hsla(265, 62%, 7%, 1);
  }
  
  /* Style navigation menu links */
  section#my-mobile-menu .topnav_mm a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  section#my-mobile-menu .topnav_mm a.icon_mm {
    background: transparent;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;

  margin-right: 23px;

  }
  
  /* Add a grey background color on mouse-over */
  section#my-mobile-menu .topnav_mm a:hover {
    background-color: hsla(265, 62%, 7%, 0);
    color: none;
  }
  
  /* Style the active link (or home/logo) */
  .active_mm {
    background-color:  hsla(265, 62%, 7%, 0);
    color:  hsla(265, 62%, 7%, 0);
  }

  section#my-mobile-menu #mm_text_logo {


      background: transparent;
     

    color: transparent;
  }
}
