:root {
  --hgPurple: rgba(173, 90, 204, 1);
}

.serv_Header {
  padding: 0;
  margin: 0;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.serv_Title {
  padding: 0;
  margin: 0;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  /* white */
  color: #ffffff;

  margin-top: 96px;
}

.serv_PurpleTitle {
  padding: 0;
  margin: 0;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  /* amethyst-primary */
  color: var(--hgPurple);
}

.serv_Para {
  padding: 0;
  margin: 0;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

.serv_ListText {
  padding: 0;
  margin: 0;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
}

.head_space_serv {
  padding-top: 151px;
}

.husig_dsk_sec_pad_1 {
  padding-bottom: 0;
  margin: 0;
  padding-left: calc((120 / 1920) * 100vw);
  padding-right: calc((120 / 1920) * 100vw);
}

.serv_Line_div {
  box-sizing: border-box;
  border-bottom: 1px solid var(--hgPurple);
  width: 100%;
  margin-top: 11.5px;
  margin-bottom: 80.5px;
}

.text_div_serv_page {
  max-width: calc((686 / 1920) * 100vw);
}


.serv_Hero_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: calc((138/1920) * 100vw);
    padding-bottom: 157.11px;
}

.serv_Hero_div img {

    width: calc((700/1920)*100vw);
    max-width: 700px;
    height: auto;
    object-fit: contain;

}



/*  */

.analytics_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 24px;
    width: 100%;
  }

  .box-1 {
    background-color: hsla(267, 50%, 34%, 0.1);
    border: 2px solid hsla(267, 53%, 48%, 1);
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;

    display: flex;
    flex-direction: column;

  }

  .box-1 h3 {
    margin-top: 0;
  }

  .box-1 ul {
    list-style: none;
    padding: 0;
  }

  .box-1 ul li {
    display: flex;
    margin: 32px 0px;
    position: relative;
    gap: 16px;    
  }



/* ids */
