/* css for section 5 @Homepage goes here */
#home-sec-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0px 13.6458333333vw;
  padding-bottom: 265px;
}
#home-sec-5 .sec_5_content {
  width: 20.9375vw;
  text-align: left;
}
#home-sec-5 * {
  position: relative;
  z-index: 25;
}
#home-sec-5 .grid_content_images {
  width: 20.9375vw;
  height: 15.5208333333vw;
  object-fit: cover;
}
#home-sec-5 .clash_h3 {
  padding: unset;
  margin: unset;
  margin-top: 23.87px;
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
#home-sec-5 .husig_h3_tag {
  margin: unset;
  padding: unset;
  margin-top: 8px;
}
#home-sec-5 #sec5-content-grid {
  display: flex;
  flex-direction: column;
  gap: 6.1458333333vw;
}
#home-sec-5 #sec5-content-grid #top-grid {
  display: flex;
  flex-direction: row;
  gap: 4.84375vw;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}
#home-sec-5 #sec5-content-grid #bottom-grid {
  display: flex;
  flex-direction: row;
  gap: 4.84375vw;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}