<section id="my-mobile-menu">
    <div class="topnav_mm">
        <a href="#" class="active_mm" id="mm_text_logo">logo</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks-mm">
    <h2>Company</h2>
    <a href="/about/">About</a>
             
    <h2>Services</h2>
    <a href="/services/#analytics">Analytics</a>
    <a href="/services/#decision-sciences">Decision Sciences</a>
    <a href="/services/#data-eng">Data Engineering and Infra</a>            
    <h2>Platforms</h2>
    <a href="/platform/#husig-fabri">HuSig Fabri</a>
    <a href="/platform/#husig-incog">HuSig Incog</a>
    <a href="/platform/#husig-harmony">HuSig Harmony</a>   
    <button class="husig_cta">Book a Call</button>         
         
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon_mm" onclick="myMmFunction()">
            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1H23M1 9H23M1 17H23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        </a>
      </div>
</section>