<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>


{{ partialCached "head/homepage/HomeMobileLink.html" . }}
{{ partialCached "head/ContactFormLink.html" . }}
{{ partialCached "head/homepage/HomeFaqLink.html" . }}
{{ partialCached "head/homepage/HomeSec5Link.html" . }}
{{ partialCached "head/homepage/HomeTestiLink.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/homepagecss.html" . }}
{{ partialCached "head/mycomponentcss.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/services_page/serv_section_1_link.html" . }}
{{ partialCached "head/services_page/serv_section_2_link.html" . }}
{{ partialCached "head/platform_page/platform_page_Link.html" . }}


{{ partialCached "head/homepage/HomeLandscapeLink.html" . }}
{{ partialCached "head/homepage/HomeSmallScreenLink.html" . }}
{{ partialCached "head/homepage/HomeTabletLink.html" . }}

{{ partialCached "head/aboutpage/aboutpageMobileLink.html" . }}
