{{/*  <div class="navbar">
  <ul class="navbar-nav">
    {{ range .Site.Menus.main }} {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        >{{ .Name }}</a
      >
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{ range .Children }}
        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }} {{ end }}
  </ul>
</div>  */}}


<div class="navbar">
  <ul class="navbar-nav">
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="{{ if .URL }}{{ .URL }}{{ else }}#{{ end }}"
        id="navbarDropdown"
        role="button"
        >{{ .Name }}</a
      >
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {{ range .Children }}
        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>

