<div class="dropdown-mobile_123">
    <button class="dropdown-toggle_123" onclick="toggleDropdown_123()">Services &#9662;</button>
    <div class="dropdown-menu_123" id="dropdownMenu_123">
      <button class="sec2_inactive_class tab_button" data-tab="tab1">
        Analytics
      </button>
      <button class="sec2_inactive_class tab_button" data-tab="tab2">
        Decision Sciences
      </button>
      <button class="sec2_inactive_class tab_button" data-tab="tab3">
        Data Engineering and Infra
      </button>
    </div>
  </div>